<header class="header">
  <div class="container nav">
    <a href="/portfolio" class="logo">Ramos</a>

    <nav>
      <a href="/portfolio" class="nav-link">Portfólio</a>
      <a href="/blog" class="nav-link">Blog</a>
    </nav>
  </div>
</header>

<style>
  .header {
    position: sticky;
    top: 0;
    background: var(--jet-black);
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .logo {
    color: var(--white);
    text-decoration: none;
  }

  nav {
    display: flex;
    gap: 2rem;
  }

  .nav-link {
    color: var(--alabaster-grey);
    text-decoration: none;
  }
</style>